PAYLOAD_SECRET="CHANGE_ME_generate_a_random_secret"
NEXT_PUBLIC_SERVER_URL="http://localhost:3000"
# Created by Vercel CLI
BLOB_STORE_ID=
BLOB_WEBHOOK_PUBLIC_KEY=
DATABASE_URL_UNPOOLED=
NEXT_PUBLIC_STACK_PROJECT_ID=
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=
PGDATABASE="neondb"
PGHOST=
PGHOST_UNPOOLED=
PGPASSWORD=
PGUSER="neondb_owner"
POSTGRES_DATABASE="neondb"
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
VERCEL_OIDC_TOKEN=